<footer class="u-clearfix u-footer u-white" id="sec-04e0"><div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
  <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1"><!--position-->
            <div data-position="" class="u-expanded-width-lg u-expanded-width-xl u-expanded-width-xs u-position u-position-1"><!--block-->
              <div class="u-block">
                <div class="u-block-container u-clearfix"><!--block_header-->
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-block-header u-text u-text-palette-1-base u-text-1"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                  <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                </div>
              </div><!--/block-->
            </div><!--/position-->
            <a href="tel:+1 (239) 710-1775" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1"><span class="u-icon"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span> &nbsp;+1 (239) 710-1775
            </a>
            <p class="u-text u-text-default u-text-3">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2" href="contact-us">Contact Us</a>
            </p>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
          <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="4500" data-image-height="2996">
              <img src="../../assets/TERAMO-PressureWashing-01.png" class="u-logo-image u-logo-image-1">
            </a>
          </div>
        </div>
        <div class="u-align-right u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
          <div class="u-container-layout u-container-layout-3"><!--position-->
            <div data-position="" class="u-position u-position-2"><!--block-->
              <div class="u-block">
                <div class="u-block-container u-clearfix"><!--block_header-->
                  <h5 class="u-align-center u-block-header u-text u-text-4"><!--block_header_content-->Our social media<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                  <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                </div>
              </div><!--/block-->
            </div><!--/position-->
            <div class="u-social-icons u-spacing-10 u-social-icons-1">
              <a class="u-social-url" title="facebook" target="_blank" href=""><span class="u-file-icon u-icon u-social-facebook u-social-icon u-text-black u-icon-2"><img src="../../assets/2175193-89c7e3a3.png" alt=""></span>
              </a>
              <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/teramopressurewashing/"><span class="u-file-icon u-icon u-social-icon u-social-instagram u-text-black u-icon-3"><img src="../../assets/3670274-69e1cd9b.png" alt=""></span>
              </a>
            </div>
            <p class="u-text u-text-default-lg u-text-default-xl u-text-6">Follow us!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></footer>
