<script type="text/javascript" src="../../../assets/jquery.js"></script>
<script type="text/javascript" src="../../../assets/nicepage.js"></script>
<section class="u-clearfix u-grey-10 u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-1" id="sec-cd32">
  <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-18 u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-size-30 u-size-60-md">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="1024" data-image-height="683">
              <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
            </div>
          </div>
        </div>
        <div class="u-size-30 u-size-60-md">
          <div class="u-layout-col">
            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-2" data-image-width="4500" data-image-height="2996">
              <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3">
                <h2 class="u-align-left u-text u-text-custom-color-1 u-text-default u-text-1">Our Services</h2>
                <p class="u-align-justify u-text u-text-2"> We bring you the best solutions for all your ​maintenance! We are committed to serving clients and businesses with projects that exceed the expectations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-1 u-section-2" id="sec-1854">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-default u-text-1">Teramo Pressure Washing Services</h1>
  </div>
</section>
<app-services-section></app-services-section>
<section class="u-align-center u-clearfix u-valign-middle u-white u-section-3" id="carousel_afe2">
  <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout" >
      <div class="u-layout-row" >
        <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-shape-rectangle u-size-32-lg u-size-32-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-image-1" data-image-width="700" data-image-height="593">
          <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-28-lg u-size-28-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-2" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
            <h2 class="u-align-left u-text u-text-1"> Top Quality Services</h2>
            <p class="u-align-justify u-text u-text-2"> We seek to offer quality services to meet and exceed the expectations of our clients. For us as a team it is very important to create good experiences for all the people who have trusted us.</p>
            <a href="contact-us" class="u-active-palette-1-base u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-base u-radius-50 u-btn-1">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-1 u-section-4" id="sec-15ab">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-default u-text-1">Our results</h1>
  </div>
</section>
<section class="u-carousel u-slide u-block-196d-1 u-carousel-display" id="carousel-e150" data-interval="5000" data-u-ride="carousel">
  <div class="u-carousel-inner" role="listbox">

    <div class=" u-active u-align-center u-carousel-item u-clearfix u-white u-section-5-4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-5" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-6" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-center u-carousel-item u-clearfix u-white u-section-5-4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-7" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-8" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-center u-carousel-item u-clearfix u-white u-section-5-4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-4" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" u-align-center u-carousel-item u-clearfix u-white u-section-5-1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-center u-carousel-item u-clearfix u-white u-section-5-2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-center u-carousel-item u-clearfix u-white u-section-5-3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-center u-carousel-item u-clearfix u-white u-section-5-4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1536" data-image-height="2048">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>

    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-body-color u-block-196d-4" href="#carousel-e150" role="button" data-u-slide="prev">
      <span aria-hidden="true">
        <svg class="u-svg-link" viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
          c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-body-color u-block-196d-3" href="#carousel-e150" role="button" data-u-slide="next">
      <span aria-hidden="true">
       <svg class="u-svg-link" viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                  c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>

      </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="u-align-center u-clearfix u-grey-5 u-section-6" id="sec-1f82">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-text u-text-custom-color-1 u-text-default u-text-1"> Frequently Asked Questions<br>
    </h2>
    <div class="u-accordion u-expanded-width u-faq u-spacing-10 u-accordion-1">
      <div class="u-accordion-item">
        <a class="active u-accordion-link u-active-white u-border-1 u-border-grey-25 u-button-style u-text-active-black u-text-grey-50 u-text-hover-black u-accordion-link-1" id="link-accordion-f600" aria-controls="accordion-f600" aria-selected="true">
          <span class="u-accordion-link-text"> What is pressure washing and how does it work?</span><span class="u-accordion-link-icon u-file-icon u-icon u-icon-1"><img [ngSrc]="'../../../assets/icons/plus.png'" alt="" fill style="position: relative"></span>
        </a>
        <div class="u-accordion-active u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-1 u-accordion-active" id="accordion-f600" aria-labelledby="link-accordion-f600">
          <div class="u-container-layout u-container-layout-1">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>Pressure washing or pressure washing is the use of high-pressure water spray to remove loose paint, mold, grime, dust, mud and dirt from surfaces and objects such as buildings, furniture and concrete surfaces.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a class="active u-accordion-link u-active-white u-border-1 u-border-grey-25 u-button-style u-text-active-black u-text-grey-50 u-text-hover-black u-accordion-link-2" id="link-accordion-72f4" aria-controls="accordion-72f4" aria-selected="false">
          <span class="u-accordion-link-text"> Is it better to pressure wash a house or wash it with soft washing?</span><span class="u-accordion-link-icon u-file-icon u-icon u-icon-2"><img [ngSrc]="'../../../assets/icons/plus.png'" alt="" fill style="position: relative"></span>
        </a>
        <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-2 u-accordion-active" id="accordion-72f4" aria-labelledby="link-accordion-72f4">
          <div class="u-container-layout u-container-layout-2">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>Some materials are easily damaged by high-pressure water. Soft washing, on the other hand, effectively cleans contaminants like dirt, mold, and mildew from these surfaces. For this reason, it is better to use the gentle washing method on more delicate exterior coverings.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a class="active u-accordion-link u-active-white u-border-1 u-border-grey-25 u-button-style u-text-active-black u-text-grey-50 u-text-hover-black u-accordion-link-3" id="link-accordion-854e" aria-controls="accordion-854e" aria-selected="false">
          <span class="u-accordion-link-text"> How much will it cost?</span><span class="u-accordion-link-icon u-file-icon u-icon u-icon-3"><img [ngSrc]="'../../../assets/icons/plus.png'" alt="" fill style="position: relative"></span>
        </a>
        <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-3 u-accordion-active" id="accordion-854e" aria-labelledby="link-accordion-854e">
          <div class="u-container-layout u-container-layout-3">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>We value the vast majority of our projects by the square foot and generate fast, free estimates for all our clients by appointment, phone call or reference photos.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a class="active u-accordion-link u-active-white u-border-1 u-border-grey-25 u-button-style u-text-active-black u-text-grey-50 u-text-hover-black u-accordion-link-4" id="link-8be9" aria-controls="8be9" aria-selected="false">
          <span class="u-accordion-link-text"> Do pressure washing companies use customers' water?</span><span class="u-accordion-link-icon u-file-icon u-icon u-icon-4"><img [ngSrc]="'../../../assets/icons/plus.png'" alt="" fill style="position: relative"></span>
        </a>
        <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-4 u-accordion-active" id="8be9" aria-labelledby="link-8be9">
          <div class="u-container-layout u-container-layout-4">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>It depends on the area and type of project. Most pressure washing companies connect to the faucet to get the water directly. Since the water is most often on site, the company will not need to bring water to your home, which simplifies the process and reduces costs. In some other cases, special units with independent water tanks will be used.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a class="active u-accordion-link u-active-white u-border-1 u-border-grey-25 u-button-style u-text-active-black u-text-grey-50 u-text-hover-black u-accordion-link-5" id="link-0a92" aria-controls="0a92" aria-selected="false">
          <span class="u-accordion-link-text"> Can you pressure wash your house yourself?</span><span class="u-accordion-link-icon u-file-icon u-icon u-icon-5"><img [ngSrc]="'../../../assets/icons/plus.png'" alt="" fill style="position: relative"></span>
        </a>
        <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-5 u-accordion-active" id="0a92" aria-labelledby="link-0a92">
          <div class="u-container-layout u-container-layout-5">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>Most pressure washers can expel water at 3000 PSI. It's powerful enough to punch holes in some siding materials and glass windows, destroy wood deck surfaces, or erode cement from your driveway or parking lot. If not handled correctly, these machines can cause serious injuries.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a class="active u-accordion-link u-active-white u-border-1 u-border-grey-25 u-button-style u-text-active-black u-text-grey-50 u-text-hover-black u-accordion-link-6" id="link-9119" aria-controls="9119" aria-selected="false">
          <span class="u-accordion-link-text">How much is the estimated service time?</span><span class="u-accordion-link-icon u-file-icon u-icon u-icon-6"><img src="../../assets/icons/plus.png" alt=""></span>
        </a>
        <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-6 u-accordion-active" id="9119" aria-labelledby="link-9119">
          <div class="u-container-layout u-container-layout-6">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>Our estimated time depends directly on the state of the area to which you wish to perform the service, which is why it is very important to contact us and obtain a more accurate estimate.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

