<section class="u-align-center u-clearfix u-section-8 margin-50" id="sec-f78c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-text u-text-custom-color-1 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Our Services</h2>
    <p class="u-text u-text-default u-text-2">We have the solution for all your problems!</p>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-1"><img src="../../assets/5061551-6d43f250.png" alt=""></span>
            <h4 class="u-text u-text-3">House Washing</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-2"><img src="../../assets/2321397-523fb207.png" alt=""></span>
            <h4 class="u-text u-text-4">Gutter Cleaning</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-3"><img src="../../assets/860858-c6a454de.png" alt=""></span>
            <h4 class="u-text u-text-5">Fence Washing</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-4">
          <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-4"><img src="../../assets/1024639-815deea5.png" alt=""></span>
            <h4 class="u-text u-text-6">Deck / Porch</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-5">
          <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-5"><img src="../../assets/8758919-3a8a76e5.png" alt=""></span>
            <h4 class="u-text u-text-7">Driveway / Garage floor</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-6">
          <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-6"><img src="../../assets/6588403-0aedf4f8.png" alt=""></span>
            <h4 class="u-text u-text-8">Sidewalk</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-7">
          <div class="u-container-layout u-similar-container u-container-layout-7"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-7"><img src="../../assets/289775-1f74a8f4.png" alt=""></span>
            <h4 class="u-text u-text-9">Roof</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-8">
          <div class="u-container-layout u-similar-container u-container-layout-8"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-8"><img src="../../assets/5593184-3c3cfe4b.png" alt=""></span>
            <h4 class="u-text u-text-10">Paver Sealing</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-9">
          <div class="u-container-layout u-similar-container u-container-layout-9"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-9"><img src="../../assets/2666025-522ae16d.png" alt=""></span>
            <h4 class="u-text u-text-11">Deck Staining</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-10">
          <div class="u-container-layout u-similar-container u-container-layout-10"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-10"><img src="../../assets/3429880-4a6d377d.png" alt=""></span>
            <h4 class="u-text u-text-12">Painting</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-11">
          <div class="u-container-layout u-similar-container u-container-layout-11"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-11"><img src="../../assets/3815792-86314dfe.png" alt=""></span>
            <h4 class="u-text u-text-13">Window Cleaning</h4>
          </div>
        </div>
        <div class="u-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-70 u-radius-16 u-repeater-item u-shape-round u-list-item-12">
          <div class="u-container-layout u-similar-container u-container-layout-12"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-text-white u-icon-12"><img src="../../assets/7923933-72cd5d1a.png" alt=""></span>
            <h4 class="u-text u-text-14">Screen Enclosure Cleaning</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
