<section class="u-align-center u-clearfix u-gradient u-section-9" id="sec-6a23">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-body-alt-color u-text-default u-text-1">What our customers say</h2>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <p class="u-text u-text-body-alt-color u-text-2">"Wow! I am so impressed! They were available to come out the same day I contacted the company! My front porch looked so bad with tons of dried up soil from gardening. Now it looks brand new! Thank you!"</p>
            <h5 class="u-text u-text-body-alt-color u-text-3">Helena P.</h5>
            <h6 class="u-text u-text-4"><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span>
            </h6>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <p class="u-text u-text-body-alt-color u-text-5">"Scheduling was fast and easy. The quote was competitive and the quality of work was nothing short of professional. They did a great job cleaning the roof and would highly recommend them to others."</p>
            <h5 class="u-text u-text-body-alt-color u-text-6">Joe L.</h5>
            <h6 class="u-text u-text-7"><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span>
            </h6>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <p class="u-text u-text-body-alt-color u-text-8">"The guy from pressure washingwas super professional and responsive, the quality was super on point and now I can see my garage clean after so Many attempts!! I will hire him again and will recommend this to my fam and friends"</p>
            <h5 class="u-text u-text-body-alt-color u-text-9">Albani R.</h5>
            <h6 class="u-text u-text-10"><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span><span class="u-file-icon u-icon"><img src="../../assets/561238.png" alt=""></span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
